In [2]:
import pandas as pd

In [5]:
Series1=pd.Series([100,120,143,159])
Series2=pd.Series(["pavan","ram","jp","simha"])
df=pd.concat([Series1,Series2],axis=1)

In [7]:
df=pd.DataFrame({'id':series1,'name':Series2})
df

    id   name
0  100  pavan
1  120    ram
2  143     jp
3  159  simha

In [10]:
sal=['23k','20k','45k','56k']

In [11]:
df['salary']=sal
df

    id   name salary
0  100  pavan    23k
1  120    ram    20k
2  143     jp    45k
3  159  simha    56k

In [13]:
s=pd.Series([10,20,30,12,45,65])
print(s)
print(type(s))
print("indexing 0th element",s[0])
print("indexing 1st element",s[1])

0    10
1    20
2    30
3    12
4    45
5    65
dtype: int64
<class 'pandas.core.series.Series'>
indexing 0th element 10
indexing 1st element 20

In [18]:
print("indexing 1st element",s[1:4])

indexing 1st element 1    20
2    30
3    12
dtype: int64

In [17]:
##  we can consider our own indexing 
list1=[10,20,30,12,45,65]
s1=pd.Series(list1,index=['a','b','c','d','e','f'])
print(s1['b'])
print(s1["c"])

20
30

In [22]:
### creating  datetime  (mm/dd/yr)

In [26]:
date_series=pd.date_range(start='11-09-2017',end='12-12-2017')
date_series

DatetimeIndex(['2017-11-09', '2017-11-10', '2017-11-11', '2017-11-12',
               '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16',
               '2017-11-17', '2017-11-18', '2017-11-19', '2017-11-20',
               '2017-11-21', '2017-11-22', '2017-11-23', '2017-11-24',
               '2017-11-25', '2017-11-26', '2017-11-27', '2017-11-28',
               '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-02',
               '2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06',
               '2017-12-07', '2017-12-08', '2017-12-09', '2017-12-10',
               '2017-12-11', '2017-12-12'],
              dtype='datetime64[ns]', freq='D')

In [30]:
type(date_series)

pandas.core.indexes.datetimes.DatetimeIndex

In [31]:
len(date_series)

34

In [ ]:
dae=pd.date_range("1-12-1997")