### The Pandas Dataframe

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns

#### Creating dataframes from dictionaries

There are various ways of creating dataframes, such as creating them from dictionaries, JSON objects, reading from txt, CSV files, etc.

In [19]:
import pandas as pd

In [ ]:
# Syntax to create dataframe
df = pd.DataFrame()
type(df)

## Different ways to create a Dataframe
- using list
- using dic
- using np array
- using series

In [ ]:
# list of strings 
ids = [100, 110, 120, 130, 140]

# Calling DataFrame constructor on list 
df = pd.DataFrame(ids)
df

In [ ]:
help(pd.DataFrame)

In [ ]:
ids = [100, 110, 120, 130, 140]

In [ ]:
df = pd.DataFrame(ids,columns=["Id"])
print(df)

In [ ]:
df1 = pd.DataFrame(ids,columns=["Id_3"])
df1

In [ ]:
marks = [100, 110, 120, 130, 140]
names = ['ram','kumar','sowjanya','kishna','john']
address = ["hyd","hyd","vizag","blr","delhi"] 

df = pd.DataFrame(list(zip(names, marks,address)), 
               columns =['student_names', 'student_marks','address'])

df

In [ ]:
marks = [100, 110, 120, 130, 140]
names = ['ram','kumar','sowjanya','kishna','john']
address = ["hyd","hyd","vizag","blr","delhi"] 

df2 = pd.DataFrame(list(zip(names, marks,address)))

In [ ]:
df2

In [ ]:
print("column 0",df2[0])
print("column ",df2[1])

In [ ]:
list(zip(names, marks,address))

#### From Dictionary

In [ ]:
dict1 = {"Names": ['ram','kumar','sowjanya','kishna','john'],"Marks": [100, 110, 120, 130, 140],"address": ["hyd","hyd","vizag","blr","delhi"] }

df = pd.DataFrame(dict1)
df

In [ ]:
df["Names"]

In [ ]:
df["Marks"]

In [ ]:
l1 = [("abc",1,"hyd"),("xyz",20,"vskp"),("xyz1",40,"blr"),("xyz2",40,"chennai")]
df2 = pd.DataFrame(l1,columns=["names","marks","place"])

In [ ]:
df2

In [ ]:
series1 = pd.Series([100, 110, 120, 130, 140])

type(series1)

In [ ]:
series1

In [ ]:
dict1 = {"Names": ['ram','kumar','sowjanya','kishna','john'],"Marks": [100, 110, 120, 130, 140],"address": ["hyd","hyd","vizag","blr","delhi"] }

In [ ]:
s1 = pd.Series(dict1)

In [ ]:
s1 = pd.Series(dict1["Names"])
s2 = pd.Series(dict1["Marks"])
s3 = pd.Series(dict1["address"])

In [ ]:
df3 = pd.concat([s1,s2,s3],axis =1)
df4 = pd.concat([s1,s2,s3],axis =0)

In [ ]:
path = r"D:\Kalyan\InnovativeResearchLabs\Batch_Data Analysis_\test_cases"

In [ ]:
file_name = path+"\\tescase.csv"
print(file_name)

In [ ]:
df3.to_csv(file_name)

In [2]:
df4 = pd.read_csv(r"D:\Kalyan\InnovativeResearchLabs\Batch_Data Analysis_\test_cases\\testcase2.csv")

In [4]:
print(df4)

   Unnamed: 0         0    1        2
0           0       ram  100      hyd
1           1     kumar  110      hyd
2           2  sowjanya  120    vizag
3           3    kishna  130      blr
4           4      john  140    delhi
5           5     vijay  180     vskp
6           6    kalyan  200      blr
7           7    venkat  180  chennai

8

In [15]:
df4 = pd.read_csv(r"D:\Kalyan\InnovativeResearchLabs\Batch_Data Analysis_\test_cases\\testcase2.csv")

length of list 8

In [18]:
len(df4)

8

In [ ]:
l5 = [11,12,13,41,15,61,71,81]
print("length of list",len(l5))
s1 = pd.Series(l5)
df5 = pd.concat([df4,s1],axis=1)

In [17]:
df5.to_csv(r"D:\Kalyan\InnovativeResearchLabs\Batch_Data Analysis_\test_cases\\testcase3.csv")

In [20]:
series1 = pd.Series([100, 110, 120, 130, 140])
series2 = pd.Series(['ram','kumar','sowjanya','kishna','john'])

#df=pd.concat([series1,series2],axis=1)
#df

In [21]:
df=pd.DataFrame({'Id': series1,'Name':series2})
df

    Id      Name
0  100       ram
1  110     kumar
2  120  sowjanya
3  130    kishna
4  140      john

In [23]:
sal = ['10k','20k','30k','40k','50k']

In [24]:
df["Salary"] = sal
df

    Id      Name Salary
0  100       ram    10k
1  110     kumar    20k
2  120  sowjanya    30k
3  130    kishna    40k
4  140      john    50k

## Specifying default index in series

In [26]:
list1=[10,20,30,40,50]

In [27]:
s1 = pd.Series(list1,index=['a','b','c','d','e'])
s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

#### Indexing Series

Indexing series is exactly same as 1-D numpy arrays - index starts at 0.

In [28]:
s = pd.Series([10,20,30,46,7])
s

0    10
1    20
2    30
3    46
4     7
dtype: int64

In [29]:
s[3]

46

In [30]:
# creating a series of type datetime
date_series = pd.date_range(start = '11-09-2017', end = '12-12-2017')
date_series

DatetimeIndex(['2017-11-09', '2017-11-10', '2017-11-11', '2017-11-12',
               '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16',
               '2017-11-17', '2017-11-18', '2017-11-19', '2017-11-20',
               '2017-11-21', '2017-11-22', '2017-11-23', '2017-11-24',
               '2017-11-25', '2017-11-26', '2017-11-27', '2017-11-28',
               '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-02',
               '2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06',
               '2017-12-07', '2017-12-08', '2017-12-09', '2017-12-10',
               '2017-12-11', '2017-12-12'],
              dtype='datetime64[ns]', freq='D')