# Today's Agenda
- Tuple
> ### What is Tuple?
> ### Different ways of creating Tuple?
> ### What is Tuple indexing?
> ### What are the built-in functions availble in Tuple!

- Sets
> ### What is Sets?
> ### Different ways of creating Sets?
> ### How to call Set elements?
> ### How to apply different set operations?
> ### What are the built-in functions availble in sets!

# Tuple
- Collection which can be indexed but immutable, (apple, 250)
- So once we declare the tuple, we can not edit the data
- tuple will be declared using `()`

### tuple declaration

In [1]:
a = (1,4,5)
print(a)
print(type(a))

(1, 4, 5)
<class 'tuple'>

In [21]:
t2 = (600)
print(type(t2))

<class 'int'>

In [22]:
t2 = (600,)
print(type(t2))

<class 'tuple'>

### Tuple Indexing

In [4]:
a[0]

1

In [5]:
a[1]

4

In [15]:
a = [("Sara",45),("Milan",15)]
a[0][0]

'Sara'

In [16]:
students = [
    (1, "sandhya", "data science", ["python","C"]),
    (2, "adarsh", "data science", ["python","java"]),
    (3, "shashank", "data science", ["C","C++"])
]
students

[(1, 'sandhya', 'data science', ['python', 'C']),
 (2, 'adarsh', 'data science', ['python', 'java']),
 (3, 'shashank', 'data science', ['C', 'C++'])]

In [ ]:
### Tuple Slicing

In [6]:
a = (1,4,5,2,3,6,8,9)

In [9]:
a[1:6]

(4, 5, 2, 3, 6)

In [10]:
a[6:1:-1]

(8, 6, 3, 2, 5)

### How to add elements in tuple?

In [11]:
a = ("a","b")
b = ("c","d")

t1 = a + b

In [12]:
print(t1)

('a', 'b', 'c', 'd')

In [13]:
a = (1,2,3,4,5,6,7,8,9)

t1 = a[:5] + (600,) + a[7:]

In [14]:
print(t1)

(1, 2, 3, 4, 5, 600, 8, 9)

### packing and unpacking

In [17]:
a = 10 
b = 20

t1 = (a, b)
print(t1)

(10, 20)

In [18]:
x, y = t1

In [19]:
print(x)

10

In [20]:
print(y)

20

## SETS

- **Sets are like lists in that you use them for storing a collection of elements. Unlike lists, however, the elements in a set are nonduplicates and are not placed in any particular order.**
- **with { } we declare a set**
- **sets are unordered and unindexed**
- **set will not allow duplicate elements**

In [23]:
# sets declaration
my_set = { 1,2,3}
print(my_set)

my_set1 = {1,"Hello",3.5}
print(my_set1)

{1, 2, 3}
{1, 3.5, 'Hello'}

In [24]:
empty_set =set()
empty_set1 = {}

In [25]:
print(type(empty_set))
print(type(empty_set1))

<class 'set'>
<class 'dict'>

In [26]:
my_set2 = {1,2,3,5,5,5,6,7,8,9}
print(my_set2)

{1, 2, 3, 5, 6, 7, 8, 9}

In [27]:
# creating set using list
my_set= set([1,2,3,4,2])
print(my_set)

{1, 2, 3, 4}

### Cannot use unhashable type to declare a set

In [28]:
my_set = set([1,2,3,4,[4,6]])
print(my_set)

TypeError: unhashable type: 'list'

# Built-in Functions
### adding elements into a set

### cannot modify element using index

In [29]:
my_set[0]=12
print(my_set)

TypeError: 'set' object does not support item assignment

### add()

### update()
- we can add multiple elements using `update`

### sort()

### discard()
- Discard will discard the value from the set
- if the value is not there in the set , discard will not throw any error

### remove()
- Remove will remove the value from the set if the value exists, if not 
- it generates error

### pop()
- pop is used to delete element from the given set
- we can not the predict the which element will be delete because set is unindexed

### clear()

In [30]:
my_set.add(3)
print(my_set)

{1, 2, 3, 4}

In [31]:
my_set.add(5)
print(my_set)

{1, 2, 3, 4, 5}

In [32]:
# we can not add multiple elements using add 
my_set.add(3,5)
print(my_set)

TypeError: add() takes exactly one argument (2 given)

### update()
- we can add multiple elements using `update`

In [33]:
my_set.update([5,7,8,12])
print(my_set)

{1, 2, 3, 4, 5, 7, 8, 12}

In [34]:
my_set.update([5,99,15],{90,100,75})
print(my_set)

{1, 2, 3, 4, 5, 99, 7, 8, 100, 75, 12, 15, 90}

### sort()
> Output of sorted is a list

> Need to assign it to a variable to save output

In [35]:
sorted(my_set)

[1, 2, 3, 4, 5, 7, 8, 12, 15, 75, 90, 99, 100]

In [36]:
#For descending order
sorted(my_set,reverse = True)

[100, 99, 90, 75, 15, 12, 8, 7, 5, 4, 3, 2, 1]

### discard()
- Discard will discard the value from the set
- if the value is not there in the set , discard will not throw any error

In [37]:
my_set.discard(8)
print(my_set)

{1, 2, 3, 4, 5, 99, 7, 100, 75, 12, 15, 90}

In [38]:
my_set.discard(100)
print(my_set)

{1, 2, 3, 4, 5, 99, 7, 75, 12, 15, 90}

In [39]:
my_set.discard(1000)
print(my_set)

{1, 2, 3, 4, 5, 99, 7, 75, 12, 15, 90}

### remove()
- Remove will remove the value from the set if the value exists, if not 
- it generates error

In [40]:
my_set.remove(75)
print(my_set)

{1, 2, 3, 4, 5, 99, 7, 12, 15, 90}

In [41]:
my_set.remove(1000)
print(my_set)

KeyError: 1000

In [42]:
#defining a string in set will break down string to individual characters
new_set = set("Welcome to python programming")
print(new_set)

{' ', 'c', 'r', 'm', 't', 'i', 'e', 'o', 'n', 'p', 'g', 'y', 'a', 'l', 'W', 'h'}

### pop()
- pop is used to delete element from the given set
- we can not the predict the which element will be delete because set is unindexed

In [44]:
new_set.pop()

' '

In [45]:
new_set.pop()

'c'

### clear()

In [47]:
new_set.clear()

In [48]:
new_set

set()

# Other set operations
- 1. union()
- 2. intersection()
- 3. differeence()

### union()

In [49]:
#Sets union, intersection and difference
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print("A union B", A|B)
print("A union B can also be written as", B|A)
print("Another way of representation",A.union(B))
print("Another way of representation",B.union(A))

A union B {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A union B can also be written as {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Another way of representation {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Another way of representation {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### intersection()

In [50]:
#Sets union, intersection and difference
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print("A intersection B", A&B)
print("A intersection B can also be written as", B&A)
print("Another way of representation",A.intersection(B))
print("Another way of representation",B.intersection(A))

A intersection B {5, 6}
A intersection B can also be written as {5, 6}
Another way of representation {5, 6}
Another way of representation {5, 6}

### difference()

In [51]:
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}

print("A difference B", A - B)
print("A difference B" , A.difference(B))

A difference B {1, 2, 3, 4}
A difference B {1, 2, 3, 4}

### symmetric difference

In [52]:
#Previous class notes
A = { 1,2,3,4,5,6}
B = {5,6,7,8,9,10}
#Symmetric difference prints values of A and B and eliminates the common
#elements from both the sets
print(A ^ B)

#This can also be written as below notation
print ((A|B) - (A & B))

#Both these gives same output 
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10}
{1, 2, 3, 4, 7, 8, 9, 10}

# 2. Manipulating and Accessing Sets
- You can add an element to a set or remove an element by using the add(e) or remove(e) method. You can use the len, min, max, and sum functions on a set, and a for loop to traverse all elements in a set. You can use the in or not in operator to determine whether an element is in the set.

In [53]:
s1 = {1, 2, 4,5,6}

In [54]:
print("length is", len(s1)) # Use function len
print("max is", max(s1)) # Use max
print("min is", min(s1)) # Use min
print("sum is", sum(s1)) # Use sum

length is 5
max is 6
min is 1
sum is 18

In [55]:
4 in s1

True

In [56]:
100 in s1

False

In [57]:
4 not in s1

False

In [58]:
100 not in s1

True