## EXCEPTION HANDLING

### zero division error    while it is   not divided by 0

In [1]:
a=2
b=int(input("ener the second  number "))
try:
    c=a/b
    print(c)
except ZeroDivisionError:
    print("your entered value is getting zero")

ener the second  number 0
your entered value is getting zero

In [3]:
a=2
b=int(input("enter a integer  "))
    c=a/b
    print(c)

enter a integer  0

ZeroDivisionError: division by zero

In [9]:
a=4
if(a<3):
    print(a)

In [4]:
a=2
if(a<3)
    print(a)

SyntaxError: invalid syntax (Temp/ipykernel_8624/389164902.py, line 2)

In [26]:
import sys
randomlist=["a",2,"5.2"]
for entry in randomlist:
    try:
        print("the entry is",entry)
        r = 1/int(entry)
        break
    except:
        print("oops!",sys.exc_info()[0],"occured.")
        print("next entry")
        print()
print("the reciprocal of",entry,"is",r)

the entry is a
oops! <class 'ValueError'> occured.
next entry

the entry is 2
the reciprocal of 2 is 0.5

In [24]:
import sys
randomlist=["a",2,"1.5",0]
for entry in randomlist:
    try:
        print("the entry is",entry)
        r = 1/int(entry)
        print("the reciprocal of",entry,"is",r)
        pass
    except:
        print("oops!",sys.exc_info()[0],"occured.")
        print("next entry")
        print()

the entry is a
oops! <class 'ValueError'> occured.
next entry

the entry is 2
the reciprocal of 2 is 0.5
the entry is 1.5
oops! <class 'ValueError'> occured.
next entry

the entry is 0
oops! <class 'ZeroDivisionError'> occured.
next entry

In [16]:
import sys
randomlist=["a",2,"1.5",0]
for entry in randomlist:
    try:
        print("the entry is",entry)
        r = 1/int(entry)
        print("the reciprocal of",entry,"is",r)
    except:
        print("oops!",sys.exc_info()[0],"occured.")
        print()
        print("next entry")
    
print()

the entry is a
oops! <class 'ValueError'> occured.

next entry
the entry is 2
the reciprocal of 2 is 0.5
the entry is 1.5
oops! <class 'ValueError'> occured.

next entry
the entry is 0
oops! <class 'ZeroDivisionError'> occured.

next entry

In [4]:
def function(value):
    
    if (value==0):
        return False
    elif((type(value)== str) or (type(value)==float)):
        return False
    
    else:
        return True
    
randomlist=['a',4,0,'1.5',6]
for entry in randomlist:
    if(function(entry)):
        r=1/(int(entry))
        print(r)
    else:
        print("{} value is not acceptable".format(entry))

a value is not acceptable
0.25
0 value is not acceptable
1.5 value is not acceptable
0.16666666666666666

### Raising  exceptions

## chemistry Ph  examples

In [5]:
value=float(input("value in range of 0 - 14 is "))
try:
    if ((value < 0) or (value> 14 )):
        raise ValueError("enter value is invalid ")
    else:
        print("Ph value is valid is :",value) 
except ValueError as  ph:
    print(ph)

value in range of 0 - 14 is 17
enter value is invalid

In [6]:
value=float(input("value in range of 0 - 14 is "))
try:
    if ((value < 0) or (value> 14 )):
        raise ValueError("enter value is invalid ")
    else:
        print("Ph value is valid is :",value) 
except ValueError as  ph:
    print(ph)

value in range of 0 - 14 is 8
Ph value is valid is : 8.0

## contine day 2

#### in eval  we cannot give  a & b   as input  
 ##### it is used for mathematical  calculation

In [6]:
tr1=eval(input("enter two numbers ,seperated by some operator:"))
print(tr1)

enter two numbers ,seperated by some operator:10+21
31

In [1]:
tr2=(input("enter two numbers ,seperated by some operator:"))
print(tr2)

enter two numbers ,seperated by some operator:10+10
10+10

In [7]:
tr1=eval(input("enter two numbers ,seperated by some operator:"))
print(tr1)

enter two numbers ,seperated by some operator:10,20
(10, 20)

In [7]:
tr2=(input("enter two numbers ,seperated by some operator:"))
print(tr2)
print(type(tr2))

enter two numbers ,seperated by some operator:3x+6
3x+6
<class 'str'>

In [9]:
str1=input("enter the two numbers,seperated by comma:")
print("str1",str1)
strlist=str1.split(",")
print(strlist)
num1=strlist[0]
num2=strlist[1]
print("num1",num1)
print("num2",num2)

enter the two numbers,seperated by comma:10,30
str1 10,30
['10', '30']
num1 10
num2 30

In [12]:
x,y=eval(input("enter the two numbers,seperated by comma:"))
print(x)
print(y)

enter the two numbers,seperated by comma:10,20
10
20

In [7]:
try:
    num1,num2=eval(input("enter the two numbers,seperated btwn comma:"))
    result=num1/num2
    print("result is",result)
except ZeroDivisionError:
    print("Division by zero!")
except SyntaxError:
    print("A comma may be missing in the input")
except:
    print("something wrong in the input")
else:
    print("no exceptions")
finally:
    print("whatever circumstances,i will be executed")

enter the two numbers,seperated btwn comma:10,2
result is 5.0
no exceptions
whatever circumstances,i will be executed

In [5]:
try:
    num1,num2=eval(input("enter the two numbers:"))
    result=num1/num2
    print("result is",result)
except ZeroDivisionError:
    num2+=1
    result=num1/num2
    print("result is",result)
    print("Division by zero!")
except SyntaxError:
    print("A comma may be missing in the input")
except:
    print("something wrong in the input")
else:
    print("no exceptions")
finally:
    print("whatever circumstances,i will be executed")

enter the two numbers:10,12
result is 0.8333333333333334
no exceptions
whatever circumstances,i will be executed

## class exception

In [20]:
class Dog:
    pass

In [21]:
dog1=Dog()
dog2=Dog()
dog3=Dog()
dog4=Dog()
dog5=Dog()

In [33]:
 class Dog:
        # a simple class
        # attribute
        attr1='mammal'
        attr2="dog"
         
        # a sample method
        def fun(self):
            print("jp is a",self.attr1)
            print("narsimha is a",self.attr2)
            
# driver code
# object instantation
rodger=Dog()
rex=Dog()
trixy=Dog()

print(rodger.attr1)
print(rex.attr2)
trixy.fun()

mammal
dog
jp is a mammal
narsimha is a dog

###  init function is used to differentiate names
   ###  always  init has to be two underscores

In [50]:
class Person:
    pavan="tillu"
    #init method or constructor
    def __init__(self,name,age,height):
        self.name=name
        self.age=age
        self.height=height
        
    def say_hi(self):
        print("hello my name is",self.name)
        
    def name_changed(self):
        self.name="nikhil"
        
    def age_increment(self):
        self.age+=1
        
            
p1=Person("pavan",27,5.5)
p2=Person("jp",24,5.3)
p3=Person('narasimha',25,5.7)

print("p1:",p1.name,p1.age,p1.height)
print("p2:",p2.name,p2.age,p2.height)
print("p3:",p3.name,p3.age,p3.height)

p2.name_changed()
print("updated_name :",p2.name)
p3.age_increment()
print("age_increment:",p3.age)
print("pavan :",p1.pavan)

p1: pavan 27 5.5
p2: jp 24 5.3
p3: narasimha 25 5.7
updated_name : nikhil
age_increment: 26
pavan : tillu

#### another way to update

init  function is used to give a variables

In [39]:
class Person:
    
    #class variable
    specie="sapiens"
    #init method or constructor
    def __init__(self,name,age,height):
        self.name=name
        self.age=age
        self.height=height
        
    def say_hi(self):
        print("hello my name is",self.name)
        
    def name_changed(self,new_name):
        self.name=new_name
        
    def age_increment(self):
        self.age+=1
        
            
p1=Person("pavan",27,5.5)
p2=Person("jp",24,5.3)
p3=Person('narasimha',25,5.7)

print("oldname:",p1.name)
p1.name_changed("psyco")
print("new name:",p1.name)

print("p1",p1.name,p1.age,p1.height)
print("p2",p2.name,p2.age,p2.height)
print("p3",p3.name,p3.age,p3.height)
p3.age_increment()
print("age_increment:",p3.age)

print("specie:",p1.specie)

oldname: pavan
new name: psyco
p1 psyco 27 5.5
p2 jp 24 5.3
p3 narasimha 25 5.7
age_increment: 26
specie: sapiens

###  continue   day 3

In [14]:
 class  student_info:
        def __init__ (self,name,age,marks):
            self.name=name
            self.age=age
            self.marks=marks
        def gradeGrade(self):
            print("self.marks",self.marks)
            if((self.marks <0)  and (self.marks > 100)):
                print("invalid score")
                grade=None
            elif((self.marks>95)  and (self.marks<=100)):
                grade=("A")
            elif((self.marks >85)  and (self.marks<=95)):
                grade=("B")
            elif((self.marks >70)  and (self.marks<85)):
                grade=("C")
            elif((self.marks >50)  and (self.marks <=70)):
                grade=("D")
            else:
                grade="fail"
            return grade

In [18]:
s1=student_info("pavan",24,50)
print(s1.age)
print(s1.gradeGrade())

24
self.marks 50
fail

In [50]:
import random
class  student_info:
        def __init__ (self,name,age,marks):
            self.name=name
            self.age=age
            self.marks=marks
        def gradeGrade(self):
            print("self.marks",self.marks)
            if((self.marks <0)   and (self.marks > 100)):
                print("invalid score")
                grade=None
            elif((self.marks>95)  and (self.marks<=100)):
                grade="A"
            elif((self.marks >85)  and (self.marks<=95)):
                grade="B"
            elif((self.marks >70)  and (self.marks<85)):
                grade="C"
            elif((self.marks >50)  and (self.marks <=70)):
                grade="D"
            else:
                grade="fail"
            return grade
        def modifyMarks(self):
            self.marks=random.randint(0,100)

In [51]:
s1=student_info("pavan",25,77)
print(s1.age)
print("before update",s1.gradeGrade())
s1.modifyMarks()
print("marks_attined",s1.marks)

25
self.marks 77
before update C
marks_attined 10

####  new xample with +5 marks

In [67]:
class  student_info:
        def __init__ (self,name,age,marks):
            self.name=name
            self.age=age
            self.marks=marks
        def gradeGrade(self):
            print("self.marks",self.marks)
            if((self.marks <0)   and (self.marks > 100)):
                print("invalid score")
                grade=None
            elif((self.marks>95)  and (self.marks<=100)):
                grade="A"
            elif((self.marks >85)  and (self.marks<=95)):
                grade="B"
            elif((self.marks >70)  and (self.marks<85)):
                grade="C"
            elif((self.marks >50)  and (self.marks <=70)):
                grade="D"
            else:
                grade="fail"
            return grade
        
        def updated_Marks(self):
            if (self.marks >=50) and (self.marks<=70):
                self.marks=self.marks+5

In [71]:
s1=student_info("pavan",25,66)
print(s1.name)
s1.updated_Marks()
print(s1.marks)

pavan
71

##  Inheritance in Python
 it is reusable

In [79]:
class person (object):
    
    def __init__(self,name):
        self.name=name
        
            
    def getName(self):
        
        return self.name
        
    def isEmployee(self):
        return False
    
    
class Employee(person): 
    
    def isEmployee(self):
        return True
    
emp=person("pavan")
print(emp.getName(),emp.isEmployee())

emp1=Employee("nayak")
print(emp1.getName(),emp1.isEmployee())

pavan False
nayak True

In [19]:

class person(object):
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
            
    def getName(self):
        
        return self.name
        
    def isEmployee(self):
        return False
    def incrementage(self):
        self.age +=1
        
    def ModifyName(self,newName):
    
        self.name=newName
    def Employee2(self):
        return False
    
    
class Employee(person): 
    def __init__(self,name,age,designation,salary):
        self.designation=designation
        self.salary=salary
        person.__init__(self,name,age)
    
    def isEmployee(self):
        return True
    
class Employee2(person):
    def __init__(self,name,designation,salary):
        self.designation=designation
        self.salary=salary
        person.__init__(self,name,age)

In [20]:

emp1=Employee("pavan",35,"developer","8 lakhs")
print(emp1.getName(),emp1.isEmployee(),emp1.designation,emp1.salary)
emp2=Employee("tillu",36,"python","9lpa")
print(emp2.getName(),emp2.isEmployee(),emp2.designation,emp2.salary)

pavan True developer 8 lakhs
tillu True python 9lpa