## opening file in same folder

In [8]:
f=open("pavan.txt","r")
for line in f:
    print(line)

pavan

tillu

jp reddy

mike

kgf

rrr

syco

mike

In [9]:
f=open("mymath.py","r")
for i in f:
    print(i)

def add(x,y):

    return x+y



def subtract(x,y):

    return x-y

def multiply(x,y):

    return x*y

def division(x,y):

    return x/y

In [10]:
f=open("mytaxgrade.py","r")
for i in f:
    print(i)

def yourtaxSlab(taxable_income):

    if(taxable_income>=10):

        tax=taxable_income*0.3

    else:

        if(taxable_income<10 and taxable_income>=5):

            tax=taxable_income*0.2

        else:

            if(taxable_income<5and taxable_income>=2.5):

                tax=taxable_income*0.05

            else:

                tax=0

    return tax



def printgrade (score):

    if score <0  or score > 100:

        print("invalid score")

    if score >=90.0:

        print("A")

    elif score >=80.0:

        print("B")

    elif score >=70.0:

        print("C")

    elif score>=60.0:

        print("D")

    else:

        print('F')

### it wont  open for microsoft files

## openeing file with another folder

In [3]:
f=open(r"C:\Users\DELL\PYTHON NOTES\tinku.txt","r")
for line in f:
    print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\DELL\\PYTHON NOTES\\tinku.txt'

## writing to a file

In [12]:
outfile=open("pavan.txt","w")
outfile.write("pavan\n")
outfile.write("tillu\n")
outfile.write("jp reddy\n")
outfile.write("mike\n")
outfile.close()

In [13]:
outfile1=open("pavan.txt","r")
#outfile1.read()
print(outfile1.readlines())

['pavan\n', 'tillu\n', 'jp reddy\n', 'mike\n']

In [14]:
outfile1=open("pavan.txt","r")
#outfile1.read()
print(outfile1.read())

pavan
tillu
jp reddy
mike

### creating an empty file

In [15]:
with open("tillu.txt","w")as f:
    f.close()

### appending a file without erasing data

#### use try not to kil the program

In [16]:
try:
    outfile=open("pavan.txt","a")
    outfile.write("kgf\n")
    outfile.write("rrr\n")
    outfile.write("syco\n")
    outfile.write("mike\n")
finally:
    outfile.close()

#### diff ways to read a text file

In [17]:
try:
    infile=open("pavan.txt","r")
    print(infile.read())
finally:
    infile.close()

pavan
tillu
jp reddy
mike
kgf
rrr
syco
mike

###   2 method using read(int)
###  slicing method is used

In [18]:
try:
    infile=open("pavan.txt","r")
    s1=infile.read(31)
    print(s1)
finally:
    infile.close()

pavan
tillu
jp reddy
mike
kgf
r

### method 3

In [19]:
try:
    infile=open("pavan.txt","r")
    line1=infile.readline()
    line2=infile.readline()
    line3=infile.readline()
    #line3=infile.readline()
    #print(line1)
    print(line1)
    print(line2,end="")
    print(line3,end="")
    
finally:
    infile.close()

pavan

tillu
jp reddy

## using readlines
    readlines  output is in list

In [20]:
try:
    infile=open("pavan.txt","r")
    print(infile.readlines())
finally:
    infile.close()

['pavan\n', 'tillu\n', 'jp reddy\n', 'mike\n', 'kgf\n', 'rrr\n', 'syco\n', 'mike\n']

### reading a file by using loop's

In [21]:
try:
    infile=open("pavan.txt","r")
    for line in infile:
        print(line,end="")
        
finally:
    infile.close()

pavan
tillu
jp reddy
mike
kgf
rrr
syco
mike

In [4]:
testcase1=open("abcxyz.txt","r")

FileNotFoundError: [Errno 2] No such file or directory: 'abcxyz.txt'

### Testing file  existence

In [ ]:
import os.path
if os.path.isfile("abcxyz.txt"):
    print("abcxyz.txt exists")
    testcase1=open("abcxyz.txt","r")
else:
    print("txt file is not present")

In [ ]:
import os.path
if os.path.isfile("pavan.txt"):
    print("pavan.txt exists")
    testcase1=open("pavan.txt","r")
else:
    print("txt file is not present")

###  another way

In [ ]:
try:
    infile=open("pavan1.txt","r")
except FileNotFoundError:
    print("there is no such file exists")
finally:
    infile.close()

In [23]:
import random
students_name=["pavan kumar","psyco","manoj","arjun reddy"]
marks=[]
for i in range(len(students_name)):
    marks.append(random.randint(0,100))
print(marks)

[48, 23, 78, 26]

In [24]:
for i in range(len(students_name)):
    d=students_name[i]+" "+str(marks[i])
    print(d)

pavan kumar 48
psyco 23
manoj 78
arjun reddy 26

In [25]:
d

'arjun reddy 26'

In [26]:
with open("jntu.txt",'w') as f:
    for i in range(len(students_name)):
        d=students_name[i]+" "+str(marks[i])+"\n"
        f.write(d)
    f.close()

In [27]:
f=open("jntu.txt","r")
for i in f:
    print(i)

pavan kumar 48

psyco 23

manoj 78

arjun reddy 26

### changing file as dictionary mode

In [28]:
try:
    infile=open('jntu.txt',"r")
    for line in infile:
        stripline=line.strip()
        print("stripline output:",stripline)
        splitlines=stripline.split(" ")
        print("splitlines output:",splitlines)
finally:
    infile.close()

stripline output: pavan kumar 48
splitlines output: ['pavan', 'kumar', '48']
stripline output: psyco 23
splitlines output: ['psyco', '23']
stripline output: manoj 78
splitlines output: ['manoj', '78']
stripline output: arjun reddy 26
splitlines output: ['arjun', 'reddy', '26']

In [29]:
students_dict={}
id_number= 1
try:
    infile=open('jntu.txt',"r")
    
    for line in file:
    student_details={}
    stripline=line.strip()
#   print("stripline output:",stripline)
    splitlines=stripline.split(" ")
    student_details["first name"]=splitlines[0]
    student_details["second name"]=splitlines[1]
    student_details['marks']=splitlines[2]
    students_dict[str(id_number)]=student_details
    id_number +=1
    
#         print("splitlines output:",splitlines)
finally:
    infile.close()

IndentationError: expected an indented block (Temp/ipykernel_5596/1069178862.py, line 7)

In [ ]:
print(students_dict)

## continue on 2nd day

In [1]:
names2=["pavan","nikhil","ruchitha","reddy","murali","shetty","pranay","raju","naresh","narasimha","rocky","seeta","harshitha"]

In [2]:
len(names2)

13

In [3]:
import random
marks=[]
for i in range(len(names2)):
    marks_attained=random.randint(0,100)
    marks.append(marks_attained)

In [4]:
marks

[10, 83, 87, 23, 26, 66, 49, 93, 27, 90, 76, 8, 78]

In [5]:
try:
    file=open("names2.txt","w")
    for i in range(len(names2)):
        var=names2[i]+":"+" "+str(marks[i])+"\n"
        file.write(var)
finally:
    file.close()

In [6]:
def minimunmarks(samplelist):
    maxvaluable=max(samplelist)
    return maxvalue

In [7]:
def segragration(names2,marks,cutoff):
    passed_students={}
    failed_students={}
    for i in range(len(marks)):
        if marks[i]>=cutoff:
            passed_students[names2[i]]=marks[i]
        else:
            failed_students[names2[i]]=marks[i]
                
    return passed_students,failed_students

In [8]:
students_passed_dict,failed_students_dict=segragration(names2,marks,35)
print(students_passed_dict)
print(failed_students_dict)

{'nikhil': 83, 'ruchitha': 87, 'shetty': 66, 'pranay': 49, 'raju': 93, 'narasimha': 90, 'rocky': 76, 'harshitha': 78}
{'pavan': 10, 'reddy': 23, 'murali': 26, 'naresh': 27, 'seeta': 8}

In [9]:
print(students_passed_dict)

{'nikhil': 83, 'ruchitha': 87, 'shetty': 66, 'pranay': 49, 'raju': 93, 'narasimha': 90, 'rocky': 76, 'harshitha': 78}

In [10]:
print(failed_students_dict)

{'pavan': 10, 'reddy': 23, 'murali': 26, 'naresh': 27, 'seeta': 8}

In [11]:
names_list=[]
secured_marks=[]
try:
    file=open("names2.txt","r")
    for i in file:
        i=i.strip()
        names,marks =i.split(": ")
        names_list.append(names)
        secured_marks.append(int(marks))
        
finally:
    file.close()

In [12]:
print(names_list)

['pavan', 'nikhil', 'ruchitha', 'reddy', 'murali', 'shetty', 'pranay', 'raju', 'naresh', 'narasimha', 'rocky', 'seeta', 'harshitha']

In [13]:
print(secured_marks)

[10, 83, 87, 23, 26, 66, 49, 93, 27, 90, 76, 8, 78]

In [14]:
segragration(names_list,secured_marks,35)

({'nikhil': 83,
  'ruchitha': 87,
  'shetty': 66,
  'pranay': 49,
  'raju': 93,
  'narasimha': 90,
  'rocky': 76,
  'harshitha': 78},
 {'pavan': 10, 'reddy': 23, 'murali': 26, 'naresh': 27, 'seeta': 8})

In [15]:
def nameWithmaxMarks(students_list,marks_list):
    maxValue=max(marks_list)
#     print(maxValue)
    maxValue_index=marks_list.index(maxValue)
#     print(maxValue_index)
    student_name=students_list[maxValue_index]
    return student_name,maxValue

In [16]:
print(nameWithmaxMarks(names_list,secured_marks))

('raju', 93)

In [17]:
average_class_marks=sum(secured_marks)/len(secured_marks)
print(average_class_marks)

55.07692307692308

### using float

In [18]:
segragration(names_list,secured_marks,35)

({'nikhil': 83,
  'ruchitha': 87,
  'shetty': 66,
  'pranay': 49,
  'raju': 93,
  'narasimha': 90,
  'rocky': 76,
  'harshitha': 78},
 {'pavan': 10, 'reddy': 23, 'murali': 26, 'naresh': 27, 'seeta': 8})

In [19]:
names_list=[]
secured_marks=[]
cutoff=25
try:
    file=open("names2.txt","r")
    for i in file:
        i=i.strip()
        names,marks =i.split(": ")
        names_list.append(names)
        secured_marks.append(float(marks))
        
finally:
    file.close()

In [20]:
print(names_list)

['pavan', 'nikhil', 'ruchitha', 'reddy', 'murali', 'shetty', 'pranay', 'raju', 'naresh', 'narasimha', 'rocky', 'seeta', 'harshitha']

In [21]:
print(secured_marks)

[10.0, 83.0, 87.0, 23.0, 26.0, 66.0, 49.0, 93.0, 27.0, 90.0, 76.0, 8.0, 78.0]

In [22]:
segragration(names_list,secured_marks,cutoff)

({'nikhil': 83.0,
  'ruchitha': 87.0,
  'murali': 26.0,
  'shetty': 66.0,
  'pranay': 49.0,
  'raju': 93.0,
  'naresh': 27.0,
  'narasimha': 90.0,
  'rocky': 76.0,
  'harshitha': 78.0},
 {'pavan': 10.0, 'reddy': 23.0, 'seeta': 8.0})

In [23]:
def nameWithmaxMarks(students,marks):
    maxValue=max(marks)
    maxValue_index=marks.index(maxValue)
    student_name=students[maxValue_index]
    return (student_name,maxValue)

In [24]:
print(nameWithmaxMarks(names_list,secured_marks))

('raju', 93.0)

In [32]:
average_marks=sum(secured_marks)/len(secured_marks)
print(average_marks)

55.07692307692308

## continue  3 day

In [26]:
def btwn(student,marks,minmarks,maxmarks):
    dict_students={}
    for i in range(len(marks)):
        if((marks[i]>=minmarks) and (marks[i]<=maxmarks)):
             dict_students[student[i]]=marks[i]
    return dict_students

In [27]:
print(btwn(names_list,secured_marks,50,80))

{'shetty': 66.0, 'rocky': 76.0, 'harshitha': 78.0}

In [28]:
def btwn_WithBug(student,marks,minmarks,maxmarks):
    dict_students={}
    for i in range(len(marks)):
        if((marks[i]>=minmarks) or (marks[i]<=maxmarks)):
             dict_students[student[i]]=marks[i]
    return dict_students

In [29]:
print(btwn_WithBug(names_list,secured_marks,50,80))

{'pavan': 10.0, 'nikhil': 83.0, 'ruchitha': 87.0, 'reddy': 23.0, 'murali': 26.0, 'shetty': 66.0, 'pranay': 49.0, 'raju': 93.0, 'naresh': 27.0, 'narasimha': 90.0, 'rocky': 76.0, 'seeta': 8.0, 'harshitha': 78.0}

#### changing o/p to tuple of list ((  it is in dictionary))

In [30]:
def btwn(student,marks,minmarks,maxmarks):
    output_list=[]
    for i in range(len(marks)):
        if((marks[i]>=minmarks) and (marks[i]<=maxmarks)):
            tuples=(student[i],marks[i])
            output_list.append(tuples)
    return output_list

In [31]:
print(btwn(names_list,secured_marks,35,80))

[('shetty', 66.0), ('pranay', 49.0), ('rocky', 76.0), ('harshitha', 78.0)]