###  Function

In [9]:
def max(a,b):
    if a>b:
        big=a
    else:
        big=b  
    return big

In [10]:
max(7,8)

8

In [2]:
larger=max(31,45)
print(larger)

45

In [3]:
def max(num1 , num2):
    if num1 > num2:
        result=num1
    else:
        result=num2
    return result

def main ():
    i=5
    j=7
    k=max(i,j)
    print("the larger number of",i,"and",j,"is",k)

main()

the larger number of 5 and 7 is 7

In [3]:
## function with return value
def max(a,b):
    if a>b:
        return a
    else:
        return b
    
ans=max(60,110)
print('max =',ans)

max = 110

In [4]:
def max(a,b):
    if a>b:
        return a
    else:
        return b
    
ans=min(60,110)
print('min =',ans)

min = 60

In [6]:
## function without return value
def max(a,b):
    if a>b:
        big= a
    else:
        big=b
    print("maximum=",big)
    
max(60,111)

maximum= 111

In [8]:
def sum(num1,num2):
    total=num1+num2
    # return none
print(sum(10,20))

None

In [1]:
def sum(num1,num2):
    total=num1+num2
    return -100
print(sum(10,20))

-100

In [2]:
def sum(num1,num2):
    total=num1+num2
    return total
print(sum(10,20))

30

In [4]:
# print grade for the score
def printgrade (score):
    if score  <0  or score > 100:
        print("invalid score")
        return
    if score >=90.0:
        print("A")
    elif score >=80.0:
        print("B")
    elif score >=70.0:
        print("C")
    elif score>=60.0:
        print("D")
    else:
        print('F')
        
printgrade(90)
printgrade(77)
printgrade(80)
printgrade(57)
printgrade(-100)

A
C
B
F
invalid score

In [6]:
def printgrade (score):
    if score <0  or score > 100:
        print("invalid score")
    if score >=90.0:
        print("A")
    elif score >=80.0:
        print("B")
    elif score >=70.0:
        print("C")
    elif score>=60.0:
        print("D")
    else:
        print('F')
        
# printgrade(90)
# printgrade(77)
# printgrade(80)
printgrade(102)
printgrade(-100)

invalid score
A
invalid score
F

In [7]:
f1=printgrade

In [8]:
f1(90)

A

In [9]:
def sum(num1,num2):
    total=num1+num2
    return total

print(sum(10,20))

30

In [10]:
f1=[sum,printgrade]

In [38]:
f1[0](20,50)

70

In [12]:
f1[1](90)

A

In [39]:
f1[1](70),f1[1](49)

C
F

(None, None)

In [40]:
print(f1[0](15,68))
f1[1](83)

83
B

In [15]:
def sumfrominputs():
    num1=float(input("enter first number"))
    num2=float(input("enter second number"))
    print(num1+num2)

In [16]:
sumfrominputs()

enter first number20
enter second number23
43.0

## positinal  and key words arguments

In [48]:
def pavan(message,n):
    for i in range(n):
        print(message)

In [49]:
pavan("a",3)

a
a
a

In [19]:
pavan(n=2,message="hello")

hello
hello

## moduleraising

In [20]:
import mymath

ans=mymath.add(70,20)
print(ans)

90

In [21]:

taxable_income=float(input("enter the taxable income:"))
# taxable_income=taxable_income/100000
if(taxable_income>=10):
    print('slab is{} and taxable payable is{}'.format('30%',taxable_income*0.3))
else:
    if(taxable_income<10 and taxable_income>=5):
        print('slab is{}and tax payable is {}'.format('20%', taxable_income*0.2))
    else:
        if(taxable_income>5 and taxable_income>=2.5):
            print('slab is{} and tax payable is {}'.format('10%',taxable_income*0.05))
        else:
            print('slab is {} and tax payable is{}'.formart('0%',0))

enter the taxable income:5.3
slab is20%and tax payable is 1.06

In [22]:
def yourtaxSlab(taxable_income):
    if(taxable_income>=10):
        tax=taxable_income*0.3
    else:
        if(taxable_income<10 and taxable_income>=5):
            tax=taxable_income*0.2
        else:
            if(taxable_income<5and txable_income>=2.5):
                tax=taxable_income*0.05
            else:
                tax=0
    return tax

In [23]:
print(yourtaxSlab(6.2))

1.2400000000000002

In [24]:
%%writefile mytaxgrade.py
def yourtaxSlab(taxable_income):
    if(taxable_income>=10):
        tax=taxable_income*0.3
    else:
        if(taxable_income<10 and taxable_income>=5):
            tax=taxable_income*0.2
        else:
            if(taxable_income<5and taxable_income>=2.5):
                tax=taxable_income*0.05
            else:
                tax=0
    return tax
        
def printgrade (score):
    if score <0  or score > 100:
        print("invalid score")
    if score >=90.0:
        print("A")
    elif score >=80.0:
        print("B")
    elif score >=70.0:
        print("C")
    elif score>=60.0:
        print("D")
    else:
        print('F')

Overwriting mytaxgrade.py

In [25]:
import mytaxgrade

print(mytaxgrade.printgrade(65))

D
None

In [26]:
print(mytaxgrade.yourtaxSlab(5.5))
mytaxgrade.printgrade(65)

1.1
D

In [27]:
import math
ans=mymath.subtract(25,36)
print(ans)

-11

In [28]:
import math
ans=mymath.multiply(3,56)
print(ans)

168

In [29]:
import mytaxgrade
print(mytaxgrade.yourtaxSlab(6.2))
mytaxgrade.printgrade(77)

1.2400000000000002
C