In [2]:
import mytaxgrade

print(mytaxgrade.printgrade(65))

D
None

In [3]:
import mytaxgrade as tillu

In [4]:
tillu.printgrade(80)

B

In [5]:
tillu.yourtaxSlab(5.6)

1.1199999999999999

In [6]:
mytaxgrade.yourtaxSlab(4.7)

0.23500000000000001

 ## scopes of variables

### outside  value is  defined by using global

In [61]:
a1=1
def f1():
    global a1
    a1+=5
    print(a1)
    
f1()
f1()

6
11

In [63]:
a1

11

 ### inside value  is defined by using local

In [64]:
a1=1
def f1():
    a4=6
    print(a4)
    return(a4)
a5=f1()
print(a5)

6
6

In [67]:
a3=1
def f1():
    a4=3
    print(a4)
    return(a4)
a6=f1()
print(a6)

3
3

In [68]:
p=1
def pavan():
    global p
    print(p)

## Recursion

In [69]:
def factorial (num):
    if num==1:
        return 1
    else:
        return num*factorial(num-1)

In [70]:
n=int(input("enter  n value:"))
ans=factorial(n)
print("factorial value:",ans)

enter  n value:5
factorial value: 120

### fib means fibonacci
### fib (5)=f(4)+f(3)
 ####  5! =5*4*3*2*1
#### fib(n)=(n-1)+(n-2)

In [78]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)
for num in range(15):
    print(fib(num),end=' ')

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [83]:
fib(9)

34

## zip function

In [15]:
list(zip("abcd","efgh"))

[('a', 'e'), ('b', 'f'), ('c', 'g'), ('d', 'h')]

In [16]:
a1=list(zip("abc","ef"))

In [17]:
a1

[('a', 'e'), ('b', 'f')]

In [18]:
print("list of zip",list(zip("abcd","efgh")))
print("dict of zip",dict(zip("abcd","efgh"))) 
print("tuple of zip",tuple(zip("abcd","efgh")))

list of zip [('a', 'e'), ('b', 'f'), ('c', 'g'), ('d', 'h')]
dict of zip {'a': 'e', 'b': 'f', 'c': 'g', 'd': 'h'}
tuple of zip (('a', 'e'), ('b', 'f'), ('c', 'g'), ('d', 'h'))

## lambda function

In [19]:
def square1(x):
    return x**4
square1(4)

256

In [20]:
square=lambda x:x**4
square(5)

625

In [21]:
x=lambda x:x**4
x(4)

256

In [84]:
d=lambda x:x**4
d(4)

256

In [23]:
d=lambda x,y:x+y
d(10,20)

30

In [24]:
d=lambda x,y,z,c:x*y+z/c
d(10,20,30,10)

203.0

In [25]:
s= lambda a:"even" if a%2==0 else "odd number"
print(s(10))
print(s(9))

even
odd number

In [26]:
f=lambda:"hello tillu"
f()

'hello tillu'

In [27]:
s=lambda x,y,z:(x*y)+z
s(3,6,2)

20

In [88]:
d= lambda x,y,z=7,a=9:x+y+z+a

In [29]:
d(6,8)

30

In [30]:
d(2,3,4,5)

14

In [31]:
d1= lambda x,y=5,z=4, a=6: x+y+z+a 
d1(1,1)

12

<!-- ##  *args & **kwargs -->

## *args & **kwargs

## *args

In [32]:
def name(*pavan):
    print(pavan)

In [33]:
def randomsum(*pavan):
    sum1=0
    for i in range(len(pavan)):
        sum1+=pavan[i]
    return sum1

In [34]:
def printargs(*pavan):
    print(pavan)

In [35]:
print(2,3,4)

2 3 4

In [36]:
randomsum(2,3,4,5)

14

In [37]:
def randomsum(*pavan):
    s=2
    for i in range(len(pavan)):
        s*=pavan[i]
    return s

In [38]:
randomsum(2,5)

20

In [39]:
def randomsum(*pavan):
    s=10
    for i in range(len(pavan)):
        s/=pavan[i]
    return s

In [40]:
randomsum(5,10)

0.2

In [41]:
def tillu(*args):
    z=args[0]
    print(z)

In [42]:
tillu(2,6)

2

In [43]:
def tillu(x,y,*args):
    print(*args)
    z=x+y+sum(args)
    print(z)

In [44]:
tillu(2,3,4)

4
9

##  **kwargs go as dictionary format

In [45]:
def name(**kwargs):
    print(kwargs)

In [46]:
name(x=8,y=2,z=6,c=8)

{'x': 8, 'y': 2, 'z': 6, 'c': 8}

In [47]:
def name1(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())

In [48]:
name1(x=8,y=2,z=6,c=8,f=5,g=8)

dict_keys(['x', 'y', 'z', 'c', 'f', 'g'])
dict_values([8, 2, 6, 8, 5, 8])