# Loops

### infinite loop

In [1]:
x=15
y=10
while(x>y):
    print("greater than x")
    y=y+1
    print("y value",y)

greater than x
y value 11
greater than x
y value 12
greater than x
y value 13
greater than x
y value 14
greater than x
y value 15

In [2]:
i=0
while i<10:
    i+=1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
i=10
while i>0:
    print("*"*i)
    i-=1

**********
*********
********
*******
******
*****
****
***
**
*

## Control flow statements (pass, break & continue)

## Pass

In [4]:
a=9
while a>0:
    a-=1
    if a==5:
        continue
        print("Statement after continue")
    else:
        print("value of a is :",a)

value of a is : 8
value of a is : 7
value of a is : 6
value of a is : 4
value of a is : 3
value of a is : 2
value of a is : 1
value of a is : 0

In [5]:
a=9
while a>0:
    a-=1
    if a==5:
        pass
        print("Statement after Pass")
    else:
        print("value of a is :",a)

value of a is : 8
value of a is : 7
value of a is : 6
Statement after Pass
value of a is : 4
value of a is : 3
value of a is : 2
value of a is : 1
value of a is : 0

### Break

In [6]:
x1=20
y1=10
while(x1>y1):
    print("greater than x1")
    break

greater than x1

In [7]:
x2=30
y2=15

while(x2>y2):
    print("greater than x2")
    print("value of y2 is",y2)
    if(y2==20):
        break
    y2+=1

greater than x2
value of y2 is 15
greater than x2
value of y2 is 16
greater than x2
value of y2 is 17
greater than x2
value of y2 is 18
greater than x2
value of y2 is 19
greater than x2
value of y2 is 20

In [8]:
i1=10
while i1>0:
    if i1==4:
        break
    print("*"*i1)
    i1-=1

**********
*********
********
*******
******
*****

### Continue

In [9]:
x=0
while x<10:
    x+=1
    if x==5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10

In [10]:
i=11
while i>0:
    i-=1
    if i%3==0:
        continue
        
    print("value of i:",i)
    print("*"*i)

value of i: 10
**********
value of i: 8
********
value of i: 7
*******
value of i: 5
*****
value of i: 4
****
value of i: 2
**
value of i: 1
*

In [11]:
x=0
while x<5:
    y=0
    while y<6:
        y=y+1
        if y==3:
            continue
        print("y=value",y)
    print("x=value",x,end="\n\n")
    x=x+1

y=value 1
y=value 2
y=value 4
y=value 5
y=value 6
x=value 0

y=value 1
y=value 2
y=value 4
y=value 5
y=value 6
x=value 1

y=value 1
y=value 2
y=value 4
y=value 5
y=value 6
x=value 2

y=value 1
y=value 2
y=value 4
y=value 5
y=value 6
x=value 3

y=value 1
y=value 2
y=value 4
y=value 5
y=value 6
x=value 4

In [12]:
over=0
while over<5:
    ball=0
    while ball<6:
        ball=ball+1
    
        print("ball :",ball)
    print("over :",over,end="\n\n")
    over=over+1

ball : 1
ball : 2
ball : 3
ball : 4
ball : 5
ball : 6
over : 0

ball : 1
ball : 2
ball : 3
ball : 4
ball : 5
ball : 6
over : 1

ball : 1
ball : 2
ball : 3
ball : 4
ball : 5
ball : 6
over : 2

ball : 1
ball : 2
ball : 3
ball : 4
ball : 5
ball : 6
over : 3

ball : 1
ball : 2
ball : 3
ball : 4
ball : 5
ball : 6
over : 4

### program to print even nums using while loop

In [13]:
x=15
while x<60:
    if x%5==0:
        print(x)
    x+=1

15
20
25
30
35
40
45
50
55

### For Loop

In [14]:
a=[10,20,30,40,50,60,70,80]
for i in a:
    print(i)

10
20
30
40
50
60
70
80

In [15]:
aa=[56,47,3,41,747,69,7]
for i in range(0,len(aa)):
    print("value of i is ",i)
    print(aa[i])
    
    
print("iterating over elements of the list")
for j in aa:
    print("value of j  is ",j)

value of i is  0
56
value of i is  1
47
value of i is  2
3
value of i is  3
41
value of i is  4
747
value of i is  5
69
value of i is  6
7
iterating over elements of the list
value of j  is  56
value of j  is  47
value of j  is  3
value of j  is  41
value of j  is  747
value of j  is  69
value of j  is  7

### Range

In [16]:
range(5)

range(0, 5)

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
list(range(5,15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [19]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [20]:
list(range(50,5,-5))

[50, 45, 40, 35, 30, 25, 20, 15, 10]

In [21]:
for x in range(5,50,5):
    print(x)
for x in range(50,0,-5):
    print(x)

5
10
15
20
25
30
35
40
45
50
45
40
35
30
25
20
15
10
5

### Using Calculations in (For Loop)

In [22]:
a=[2,5,4,8,9,12]
for l in a:
    print("square of a:",l**2)
    print("division of a: ",l/2)
    print("addition of a: ",l+2)
    print("mutliply of a:",l*2,end="\n\n")

square of a: 4
division of a:  1.0
addition of a:  4
mutliply of a: 4

square of a: 25
division of a:  2.5
addition of a:  7
mutliply of a: 10

square of a: 16
division of a:  2.0
addition of a:  6
mutliply of a: 8

square of a: 64
division of a:  4.0
addition of a:  10
mutliply of a: 16

square of a: 81
division of a:  4.5
addition of a:  11
mutliply of a: 18

square of a: 144
division of a:  6.0
addition of a:  14
mutliply of a: 24

### Using append in (For Loop)

In [23]:
b=[47,408,58,609,21,105,7,747]
grade=["end"]
for i in range(0,len(b)):
    if b[i]>=100:
        b.append("Pass")
    else:
        b.append("Fail")
print(grade)

['end']

In [24]:
print(b)

[47, 408, 58, 609, 21, 105, 7, 747, 'Fail', 'Pass', 'Fail', 'Pass', 'Fail', 'Pass', 'Fail', 'Pass']

In [25]:
c=[47,408,58,609,21,105,7,747]
grade=["end"]
for i in range(0,len(c)):
    if c[i]>=100:
        grade.append("Pass")
    else:
        grade.append("Fail")
print(grade)

['end', 'Fail', 'Pass', 'Fail', 'Pass', 'Fail', 'Pass', 'Fail', 'Pass']

### Making two lists Using (For loop)

In [26]:
a=[1,2,3,4,5,6,7,8]
b=[]
c=[]
for i in a:
    if i%2==0:
        b.append(i)
    else:
        c.append(i)
print("Even list = ", b)
print("Odd list = ", c)

Even list =  [2, 4, 6, 8]
Odd list =  [1, 3, 5, 7]

In [35]:
a=[2,3,4,5,6,9,7,8,55,99,77,5,6,4,1,3]
b=[]
c=[]
for t in a:
    if t%2==0:
        b.append(t)
    else:
        c.append(t)
print("even  no :",c)
print("odd no :",b)

even  no : [3, 5, 9, 7, 55, 99, 77, 5, 1, 3]
odd no : [2, 4, 6, 8, 6, 4]

In [36]:
a=[86,26,38,41,25,16,72,58]
b=[]
c=[]
for i in a:
    if i>=35:
        b.append(i)
    else:
        c.append(i)
print("Pass list = ", b)
print("Fail list = ", c)

Pass list =  [86, 38, 41, 72, 58]
Fail list =  [26, 25, 16]

### Using append for calculations in (For Loop)

In [37]:
a=[1,2,3,4,5]
b=[]
for i in a:
    b.append(i*2)
    b.append(i**2)
print(b)

[2, 1, 4, 4, 6, 9, 8, 16, 10, 25]

In [38]:
a=[1,2,3,4,5]
b=[]
for i in a:
    b.append(i*2)
print(b)

[2, 4, 6, 8, 10]

In [39]:
a=[1,2,3,4,5]
b=[]
for i in a:
    b.append(i**2)
print(b)

[1, 4, 9, 16, 25]

In [40]:
a=[1,2,3,4,5]
b=[]
for i in a:
    b.append(i**3)
print(b)

[1, 8, 27, 64, 125]

### For one line or Single statements in (For Loops)

In [41]:
a=[1,2,3,4]
b=[i**2 for i in a]
print(b)

[1, 4, 9, 16]

In [42]:
a=[47,86,54,25,26,85,91]
grade=["pass" if i>=35 else "Fail" for i in a]
print(grade)

['pass', 'pass', 'pass', 'Fail', 'Fail', 'pass', 'pass']

### Selecting of elements more than 35

In [43]:
a=[47,86,54,25,26,85,91]
Passed=[i for i in a if i>=35]
print("Passed Marks: ",Passed)

Passed Marks:  [47, 86, 54, 85, 91]

In [44]:
a=[47,86,54,25,26,85,91]
Failed=[i for i in a if i<=35]
print("Failed Marks: ",Failed)

Failed Marks:  [25, 26]

### Using dictionaries in (For Loop)

In [45]:
m={"jp":47,"simha":86,"tillu":54,"club":25,"classic":26,"vijay":91}
print(m.items())

dict_items([('jp', 47), ('simha', 86), ('tillu', 54), ('club', 25), ('classic', 26), ('vijay', 91)])

In [46]:
m={"jp":47,"simha":86,"tillu":54,"club":25,"classic":26,"vijay":91}
t={}
for name, marks in m.items():
    grade="pass" if marks>=35 else "fail"
    t[name]=grade
print(t)

{'jp': 'pass', 'simha': 'pass', 'tillu': 'pass', 'club': 'fail', 'classic': 'fail', 'vijay': 'pass'}

In [47]:
m.keys()

dict_keys(['jp', 'simha', 'tillu', 'club', 'classic', 'vijay'])

In [48]:
d={"jp":47,"simha":86,"tillu":54,"club":25,"classic":26,"vijay":91}
t={}
for key in d.keys():
    grade="pass" if d[key]>=35 else "fail"
    t[key]=grade
print(t)

{'jp': 'pass', 'simha': 'pass', 'tillu': 'pass', 'club': 'fail', 'classic': 'fail', 'vijay': 'pass'}

### Some hands on programs using (For loop)

In [49]:
enteredinput=input("Enter the marks of student ")
print(enteredinput)

Enter the marks of student

In [50]:
a=enteredinput
print(a)

In [51]:
b=a.split(",")
print(b)

['']

In [52]:
b.pop()

''

In [53]:
b

[]

In [54]:
b1=map(float,b)
print(b1)
print(list(b1))

<map object at 0x000001A36B472A60>
[]

### problem on Grade list using (for loop)

In [55]:
marks=input("Enter the marks of student").split(",")
marks=list(map(float,marks))
grade=[]
for mark in marks:
    if (mark>=35) & (mark<=100):
        if (mark>=35) & (mark<=50):
            grade.append("D")
        elif (mark>=50) & (mark<=65):
            grade.append("C")
        elif (mark>=65) & (mark<=75):
            grade.append("B")
        elif (mark>=75) & (mark<=90):
            grade.append("A")
        elif (mark>=90) & (mark<=100):
            grade.append("A+")
        else:
            grade.append("F")
    elif (mark<0)|(mark>100):
        grade.append("Error")
    else:
        grade.append("Fail")
        
marks_grade=dict(zip(marks,grade))
print(marks_grade)

Enter the marks of student

ValueError: could not convert string to float: ''

 ## Creating dictionary by zip

In [56]:
l1=["a","b","c"]
l2=[1,2,3]

In [57]:
zip(l1,l2)

In [ ]:
dict(zip(l1,l2))

### another Way

In [ ]:
print(l1)
print(l2)

In [ ]:
dict1={}
for i in range(0,len(l1)):
    dict1[l1[i]]=l2[i]
print(dict1)

In [ ]:
dict1["d"]=5

In [ ]:
dict1

In [ ]:
var1=dict1["a"]
dict1["e"]=var1
del dict1["a"]

In [ ]:
dict1

In [ ]:
dict1["j"]=dict1.pop("b")

In [ ]:
dict1

### without using map

In [ ]:
l3=["2.0","3.5","8.9"]
l5=[]
for i in range(0,len(l3)):
    l5.append(float(l3[i]))
print(l5)

In [ ]:
for i in range(0,10):
    print("*"*i)

In [ ]:
for i in range(0,10):
    print("*"*i,end=" ")

In [ ]:
a=[2,3,5,1,7,8]
target=10
for i in range(len(a)):
    print("value of i",i)
    print("output of a[i+1:]",a[i+1:])
    for j in a[i+1:]:
        print("value of j",j)
        if (i+j)==10:
            print(i,j)
    print("***************")